<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<body>

	<div class="container text-center">
		<div>
			<h1>Employee Registration - Sign Up</h1>
			<hr>
		</div>
		<i>Fill out Form. Asterisk(*) means required</i>
		<form th:action="@{/registration}" th:object="${employee}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">


				<div class="form-group row">
					<label class="col-4 col-form-label">First Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{firstName}" class="form-control"
							required minlength="2" maxlength="20" placeholder="First Name" />
					</div>
					<!-- error message -->
						<div th:if="${param.error}">
							<div class="alert alert-danger">is required</div>
						</div>
				</div>
				<br>

				<div class="form-group row">
					<label class="col-4 col-form-label">Last Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{lastName}" class="form-control"
							required minlength="2" maxlength="20" placeholder="Last Name" />
					</div>
				</div>
				<br>
				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"
							required placeholder="E-mail" />
					</div>
				</div>
				<br>

				<div class="form-group row">
					<label class="col-4 col-form-label">Password: </label>
					<div class="col-8">
						<input type="password" th:field="*{password}" class="form-control"
							required minlength="6" maxlength="10" placeholder="Password" />
					</div>
				</div>
				<br>

				<div class="form-group row">
					<label class="col-4 col-form-label">Mobile No.: </label>
					<div class="col-8">
						<input type="tel" th:field="*{mobileNumber}" class="form-control"
							required maxlength="10" placeholder="Phone number" />
					</div>
				</div>
				<br>

				<div class="form-group row">
					<label class="col-4 col-form-label">Profile:</label>
					<div class="col-8">
						<input type="tel" th:field="*{profile}" class="form-control"
							required maxlength="10" placeholder="Profile" />
					</div>
				</div>

				<br>

				<div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
		
				<span>Already registered? <a th:href="@{/login}">Login
						here</a><br><a th:href="@{/}" >Back To Home </a></span>
			</div>
		</form>
	</div>
</body>
</html>